<html>
<head>
	<script src="jquery.min.js"></script>
	<script src="highcharts.js"></script>
	<script src="cc.js"></script>
  <script>
$(document).ready(function() {
   var chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'scatter',
         zoomType: 'xy'
      },
      title: {
         text: 'Churn vs Complexity'
      },
      subtitle: {
         text: 'Metrics that make you happy'
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Churn'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true,
         min: 0
      },
      yAxis: {
         title: {
            text: 'Complexity'
          },
          min: 0,
          max: 50

      },
      tooltip: {
        formatter: function() {
          var item = this.point;
          return item.filename + "<br/>" + "churn: " + item.x + "<br/>" + "complexity: " + item.y;
        }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      }
   });

   $.each(directorySeries, function(directory) {
     chart.addSeries({
      name: directory,
      type: 'scatter',
      visible: false,
      data: directorySeries[directory]
     });
   });

  //chart.addSeries({
  //  type: 'scatter',
  //  data: chuggleGraphData
  //});
});

  </script>
</head>
<body>
	<div id='container'>
	</div>
	</body>
</html>
